.daoh {
  background: url(i/daoh.png) center 0;
  height: 30px;
}

.daoh .m .d-zuo {
  margin-left: 10px;
}

.daoh .m .d-zuo a {
  line-height: 30px;
  margin-right: 19px;
}

.daoh .m ul {
  margin-right: 29px;
}

.daoh .m ul li {
  height: 30px;
  line-height: 30px;
  float: left;
}

.daoh .m ul li span {
  margin: 0 8px 0 10px;
}

.daoh .m ul li .dlq {
  color: #f00;
  margin-right: 7px;
}
